:root{
    --main-color: blue;
    --tomato: tomato;
    --grey: rgba(128, 128, 128, 0.3);
    --nice-gradient:linear-gradient(90deg,rgba(161, 130, 63, 0.3) 0%, rgba(255, 102, 0, 0.3) 30%, rgba(255, 140, 0, 0.3) 93%);;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
}


.firstsection{
    /* border: 2px solid red; */
    display: flex;
    /* height: 460px; */
}

.firstsection-leftdiv{
/* border: 2px solid purple; */
padding: 20px;
background: var(--grey);
max-width: 1500px;
margin: 0 auto;
}

.firstsection-rightdiv{
    /* border: 2px solid black; */
    /* background: var(--tomato); */
    background: var(--nice-gradient), url(./images/image1.jpg);
    background-size: cover;
    background-position: bottom left;
}

.firstsection-leftdiv,.firstsection-rightdiv{
    /* height: 100%; */
    width: 50%;
}

.link-holder{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    padding: 20px;
}

.line{
    height: 20px;
    width: 220px;
    background: var(--main-color);
    margin: 20px 0 0 0 ;
}

.heading-text{
    margin: 20px 0px;
}

span{
    color: var(--main-color);
}

    /* h4{
    padding: 20px 0 20px 0;
    } */

.secondsection{
    /* border: 2px solid black; */
    display: inline-block;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.secondsection-leftdiv{
    /* border: 2px solid var(--grey); */
    background: var(--grey);
    height: 400px;
    width: 310px;
    margin-top: 25px;
    padding: 20px;
}

.secondsection-rightdiv{
    /* border: 2px solid white; */
    background: url(./images/image2.jpg);
    background-size: cover;
    background-position: bottom left;
    height: 460px;
    width: 340px;
    margin-bottom: 20px;
}

.thirdsection{
    /* border: 2px solid black; */
    background: var(--grey);
    align-items: center;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.thirdsection-leftdiv{
    width: 350px;
    height: 460px;
    background: url(./images/image3.jpg);
    background-size: cover;
    background-position: bottom left;
    /* display: inline-block; */
}

.thirdsection-rightdiv{
    width: 350px;
    height: 460px;
    background: var(--tomato);
    padding: 30px 25px;
    display: inline-block;
}

.Footer{
    text-align: center;
    background: var(--tomato);
    height: 40px;
    padding: 10px;
}

.icon-holder{
   display: inline-block;
}

.icons{
    background: tomato;
}





@media screen and (max-width: 543px){

.firstsection{
    height: 540px;
}

.heading-text{
    font-size: 25px;
}

.firstsection-leftdiv{
    width: 60%;
}

.firstsection-rightdiv{
    width: 40%;
}

.link-holder{
    flex-direction: column;
}

.line{
    width: 200px;
}


}
    
